<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuddles details</title>
    <link rel="stylesheet" href="../static/styles2.css">
</head>

<body>

    <main class="container">
        <header>
            <h1>Details Page for Cuddless</h1>
        </header>

        <section class="cats">
            <img src="../static/cat1.jpg">
        </section>

        <section class="food">
            <h3>Favorite food:</h3><span>????</span>
        </section>

        <section class="age">
            <h3>Age:</h3><span>????</span>
        </section>        

        <section class="sleeping">
            <h3>Sleeping spots:</h3>
            <span>????</span>
            <span>????</span>
        </section>
    </main>

</body>

</html>